.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #100f0f;
}


.cardsContainer{
    display: flex;
    gap:2rem;
    justify-content: center;
}